[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PhenotypeSimulator"]
	path = PhenotypeSimulator
	url = https://github.com/meyer-lab-cshl/phenotypesimulator
[submodule "plinkQC"]
	path = plinkQC
	url = https://github.com/meyer-lab-cshl/plinkqc
